.header-manu {
    display: none;
}

.flex {
    display: flex;
}

.menu-page {
    height: 66px;
    background: #7f9d64;
}

.menu-list-page {
    display: flex;
    position: relative;
}

.menu-link-page {
    padding: 21px 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
}

.serch {
    margin-top: 17px;
    margin-left: 50px;
    width: 32px;
    height: 32px;
}

.dot::after {
    content: '';
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 4px;
    background: url(../img/three-dot.svg) no-repeat;
}


.section-nav-container {
    margin-top: 62px;
}

.section-nav {
    margin-right: 5px;

    font-size: 14px;
    line-height: 30px;

    color: #69a54d;
}

.section-nav:last-child {
    color: #cdbd84;
}

.title {
    margin-top: 30px;

    font-weight: bold;
    font-size: 48px;
    line-height: 59px;

    color: #222222;
}

.tab-content {
    display: none;
    margin-top: 57px;
}

.tab-content-active {
    display: block;
}

.tab-block {
    display: flex;
    padding: 30px;

    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.tab-block:not(:last-child) {
    margin-bottom: 31px;
}

.tab-img {
    width: 271px;
    height: 271px;
}

.tab-block__content {
    padding: 0 30px;
}

.tab-title {
    margin-top: 10px;

    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: #222222;
}

.tab-text {
    max-width: 818px;
    margin-top: 24px;

    line-height: 26px;

    color: #222222;
}

.tab-content__btn {
    display: block;
    width: 250px;
    height: 48px;
    margin-top: 41px;
    padding: 12px 76px;

    background: #7f9d64;
    border-radius: 3px;

    font-weight: 600;
    line-height: 24px;

    color: #ffffff;
}

.tabs {
    display: flex;
    margin-top: 47px;
}

.tabs-item {
    list-style-type: none;
}

.tabs-item:not(:last-child) {
    margin-right: 20px;
}

.tabs-btn {
    width: 20px;
    height: 25px;

    border: none;

    background: #ffffff;
    cursor: pointer;
    outline: none;
}

.tab-btn-active {
    background: #cdbd84;
}